html {
    overflow-y:scroll;
}

body {
    background-color: #add8e6;
}

a {
    color: inherit;
}

a:hover {
    color: gray;
    text-decoration: none;
}

textarea:focus, input[type="text"]:focus,textarea[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,  input[type="color"]:focus, .uneditable-input:focus, .form-control:focus {  
    box-shadow: none;
    outline: none;}

.custom-textarea {
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 51.2px;
} 

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
}

.card {
    width: 80%;
    margin: auto;
    border-radius: 12px;
}

.card-comment {
    margin: auto;
    border-top-left-radius: 0;
}

.jumbotron {
    max-width: 70%;
    margin: auto auto 2em;
    background-color: rgba(0, 0, 0, 0); 
}


.card-profil-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 2em;
}

.sticky-profil {
    position: sticky;
    top: 0
}


/* profil tabs */
.nav-link.active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    color: darkblue !important;
}

.nav-link {
    color: darkgray;
}



/* Side bar nav items */
.custom-nav-item {
    padding: .5rem 1rem;
    text-decoration: none;
    color: #46B1C9 !important;
    transition: transform .2s;
    font-size: 1.4em;
}

.custom-nav-item:hover {
    text-decoration: none;
    color: black !important;
    transform: scale(1.1);
}



/* Side bar */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background-color: #46B1C9;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: /*#bdc3c7*/ #46B1C9;
}
  
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}
  
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
  
/* Wrapper for item list */
.bm-item-list {
    padding: 0.8em;
}
  
/* Individual item */
.bm-item {
    display: inline-block;
}
  
/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.dropdown-toggle:after {
    content: none
}

.side-profil-pic {
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.comment-pic {
    width: 60px;
    height: 60px;
    margin: 10px auto auto 10px;
    float: left;
}

@media screen and (max-width: 768px){
    .comment-pic {
        display: none;
    }

    .card {
        width: 100%;
    }

    .jumbotron {
        max-width: 100%;
    }
}